  #header { 
    width: "100%";
    background: yellow;
    height: 100px;
    position: relative;
}
.main-nav {
    float:right;
    height:100%;
    width:50px;
    background:red;
}
#content {
    width:100%;
    height:400px;
    background: grey;
    position: relative;
}
.media-content {
    background: #FFF;
    height:200px;
    padding:30px;
    width:40%;
    color: purple;
    z-index:1;
    position:relative;
    margin:0 auto;
}
.mobile-nav {
   z-index: 99;
  position: fixed;
  width: 100%;
  /*background: none repeat scroll 0% 0% rgba(249, 249, 249, 0.77);*/
  background-image: url("../images/front.jpg");
  background-size: cover;
  color: #FFF;
  display: none;
  top: -37px;
  height: 123%;
}
.white {
    width: 100%;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.84);
    position: fixed;
    z-index: 99;
    height: 123%;
}
.mobile-nav ul {
    list-style:none;
}
.mobile-nav ul li {
    list-style: none;
    color: #FFF;  
    height: 50px;
}
.mobile-nav h5 {
  color: rgb(246, 88, 2);
  font-family: gotham-book;
  text-align: center;
  top: 30%;
  position: fixed;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  width: 100%;
}
.mobile-nav p{
  position: fixed;
  top: 45%;
  font-family: gotham-book;
  text-align: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  width: 100%;
}
.close {
 background: transparent;
 top: 0%;
 position: fixed;
 right: 0;
}
button.close:hover {
  background: transparent !important;
  border: none !important;
}
button.close:active, button.close:visited{
  background: transparent !important;
  border: none !important;
}
.ok {
width: 128%;
background: none repeat scroll 0% 0% rgb(0, 0, 0);
padding: 9px;
color: rgb(255, 255, 255);
top: 20px;
position: relative;
}
