* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

/* Login Page */

h6#or {
  font-size: 1em !important;
  color: #FFF !important;
  font-weight: bold;
  text-align: center;
}

img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4
}

div.container {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image:url('images/front.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

img.confb {
  width: 100%;
  height: 100%;
  padding-bottom: 12px;
}

img.confb:hover{
  cursor: pointer;
}

div.wrapper-form {
  height: 50%;
  left: 35.5%;
  position: relative;
  top: 39%;
  width: 29%;
}

input.login {
  font-size: 1em;
  height: 16%;
  margin: 2% 3% 1%;
  top: 51%;
  width: 94%;
  border: 0px solid #000;
  padding: 10px;
}

input.submit {
  height: 14%;
  margin: 1.5% 3% 0;
  width: 94%;
  background: black;
  border: 0px solid #000000;
  font-size: 1.5em;
  color: #FFF;
}

input.submit:hover {
  cursor: pointer;
}

h6.forgot {
  font-size: 1em;
  text-align: center;
  top: 20%;
  margin-top: 18%;
}

h6.forgot a {
  color: #FFF;
}

h6.forgot a:hover {
  color: #000;
}

@media screen and (min-width: 360px) and (max-width: 800px) { 
  div.wrapper-form {
      top: 34%;
      left: 0%;
      width: 100%;
      padding: 0 20px 20px 20px;;
  }
}

/* End of Login Page */

/* Home Page */

div.wrapper-header {
  margin: 0 auto;
  background: #FFF;
  width: 100%;
  height: 10%;
  position: relative;
}

h1.banner-susi {
  position: relative;
  font-size: 2em;
  color: #000;
  clear: both;
  margin: 0px;
  padding: 15px;
  text-align: center;
}

div.wrapper-bgs {
  background: yellow;
  width: 100%;
  height: 100%;
}

div.wrapper-all {
  height: auto;
}

div.wrapper-all img {
  margin: 0;
  top: 0;
  position: relative;
}

div.menu-nav {
  background: yellow;
}
div.menu-nav ul {
  margin: 23px 0px 0px 20px;
  width: 10%;
  position: relative;
  list-style: none outside ;
  position: absolute;
}
div.menu-nav ul li {
    width: 32px;
    height: 5px;
    background: none repeat scroll 0% 0% rgba(255, 126, 0, 1);
    margin-bottom: 3px;
  }
div.cart {
  background: red;
}


div.title {
  padding-top: 4%;
  width: 32%;
  margin-left: 22%;
}

div.title img {
  margin: 0px;
  left: 29%;
  top: 0%;
  position: relative;
}

div.cart {
  width: 17%;
  float: right;
  margin: 14px 16px 12px 12px;
}

div.cart img {
  margin: 0;
  top: 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Susi Home</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="css/foundation.css"/>
</head>
<body>
    <div class = "wrapper-header">
      <div class="menu-nav">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="cart">
        <img src="images/icons/cart1.png" alt="">
      </div>
      <div class = "title"><img src="images/icons/susilogo2.png" alt=""/></div>
      
     
    </div>
  <div class="wrapper-bgs">
     <div class="wrapper-all">
       <img src="images/bg1.jpg" alt=""/>
     </div>
     <div class="wrapper-all">
       <img src="images/bg2.jpg" alt=""/>
     </div>
     <div class="wrapper-all">
       <img src="images/bg3.jpg" alt=""/>
     </div>
   </div> 
</body>
</html>