* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'gotham-light';
  src: url('../fonts/gotham-light.otf') format('opentype');
}

@font-face {
  font-family: 'gotham-bold';
  src: url('../fonts/gotham-bold.otf') format('opentype');
}

@font-face {
  font-family: 'gotham-medium';
  src: url('../fonts/gotham-medium.otf') format('opentype');
}

@font-face {
  font-family: 'gotham-book';
  src: url('../fonts/gotham-book.otf') format('opentype');
}

@font-face {
  font-family: 'gotham-light-italic';
  src: url('../fonts/gotham-light-italic.otf') format('opentype');
}

@font-face {
  font-family: 'gotham-thin';
  src: url('../fonts/gotham-thin.otf') format('opentype');
}


/* Contact Page */

div.wrapper-header {
  margin: 0 auto;
  background: #FFF;
  width: 100%;
  text-align: center;
  height: 8%;
}

div.menu-nav ul {
  list-style: none outside none;
  margin: 22px 0 0 20px;
  position: absolute;
  width: 10%;
}

div.menu-nav ul li {
  background: none repeat scroll 0 0 rgba(255, 126, 0, 1);
  height: 10px;
  margin-bottom: 8px;
  width: 80px;
}

div#title-media {
  left: 34%;
  padding-top: 4%;
  position: relative;
  width: 32%;
}

div#title-media h6 {
  text-transform: uppercase;
  font-family: gotham-book;
  font-size: 2.5em;
  margin: 0 !important;
}

h6#home-say1 {
  font-size: 1.5em;
}

div.title img {
  margin: 0px;
  left: 29%;
  top: 0%;
}

div.cart {
  left: 85%;
  position: absolute;
  top: 15%;
  width: 12%;
}

div.wrapper-contact {
  margin-top: 100px;
}

div.nav-contact ul {
  list-style: none;
  margin: 0 !important;
}

div.nav-contact ul li {
  float: left;
  margin-left: 55px;
}

div.nav-contact ul li a {
  font-size: 1.3em;
  font-family: gotham-book;
  color: #000;
}

div.banner {
 text-align: center;
}

div.banner h6 {
  font-family: gotham-light;
  font-size: 1.5em;
}

div.wrapper-nav-form {
  padding: 10px;
}

div#wrapper-contact-form {
  padding-left: 30px;
  padding-right: 30px;
}

div.wrapper-nav-form input[type=text] {
  border-radius: 10px;
  border: 1px solid #000;
  padding-left: 20px;
  font-family: gotham-light-italic;
  font-size: 1.5em;
  height: 75px;
}

div.wrapper-submit {
  text-align: center;
   margin-top: 40%;
}

div.wrapper-submit input[type=submit] {
  background: none repeat scroll 0 0 #000;
  border: 1px solid #000;
  border-radius: 10px;
  color: #fff;
  font-family: gotham-thin;
  font-size: 1.5em;
  height: 67px;
  padding: 0 145px;
}

/* Reservation Section */

div.wrapper-reservation {
  left: 40px;
  padding: 0 10px;
}

div#title-reservation {
  left: 34%;
  padding-top: 4%;
  position: relative;
  width: 32%;
}

div#title-reservation h6 {
  font-size: 2em;
}

div.wrapper-reservation div.banner {
  text-align: center;
} 

div#wcontact2 {
  margin: 0px;
}

div.wrapper-days1 {
  margin: 0 !important;
}

/* Reservation Page */

div.wrapper-reservation {
  padding: 0 10px;
  margin-top: 100px;
}

div.wrapper-reservation div.banner {
  text-align: center;
} 

div.wrapper-days1 {
  margin: 0 !important;
}

/* Edit Layout for the Month Day Hour Min Inputs */

/* Comment this if input[text] was selected instead */

/*div.wrapper-days1 input {
  margin: 0 !important;
}

div.wrapper-first, div.wrapper-second {
  padding: 0 !important;
}

div#wrapper-month input {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

div#wrapper-day input {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-left: 0 !important;
}

div#wrapper-hour input {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

div#wrapper-min input {
  border-radius: 0 !important;
}

div#wrapper-ampm input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0px !important;
}
*/

/* With a DropDown Option Values */

div.wrapper-first, div.wrapper-second {
  padding: 0 !important;
}

div.wrapper-days1 select {
  margin: 0 !important;
  font-size: 1em;
  font-family: gotham-light-italic;
  height: 66px;
  font-size: 1.5em;
}

div.wrapper-days1 option {
  font-size: 1em;
  font-family: gotham-light-italic;
}

div#wrapper-month select {
  border-top-left-radius: 10px !important;
  border: 1px solid #000;
  border-bottom: 0px !important;
}

div#wrapper-day select {
  border-top-right-radius: 10px !important;
  border-left: 0 !important;
  border: 1px solid #000;
  border-bottom: 0px !important;
}

div#wrapper-hour select {
  border-bottom-left-radius: 10px !important;
  border: 1px solid #000;
}

div#wrapper-min select {
  border-radius: 0 !important;
  border: 1px solid #000;
  border-left: 0 !important;
  border-right: 0 !important;
}

div#wrapper-ampm select {
  border-bottom-right-radius: 10px !important;
  border: 1px solid #000;
}


/* End with Dropdown */

div.wrapper-special {
  margin-top: 20px !important;
  margin-bottom: 50px;
}

div.wrapper-reserve {
  text-align: center;
}

div.wrapper-reserve input[type=submit] {
  background: none repeat scroll 0 0 #000;
  border: 0 solid #fff;
  border-radius: 10px;
  color: #fff;
  font-family: gotham-light;
  font-size: 1.5em;
  padding: 20px 145px;
}

